# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Vim stuff:
*~
*.swp
*.swo

# Cython
*.c

# Sphinx documentation
docs/_build/
docs/my-data.rtdc
docs/export_example.rtdc
docs/export_example.tsv
docs/dclab.bib.sav

*.md~
*.txt~
*.py~
*.in~
*.yml~
*.rst~

# Environments
.env
.env*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

dclab/_version.py
*.bib.bak
.pytest_cache
pip-wheel-metadata

.idea
.Rhistory
_develop_*

*.lprof
