include CHANGELOG
include CREDITS
include LICENSE
include README.rst
include pyproject.toml
recursive-include dclab *.txt *.md *.pxd
recursive-include docs *.py *.md *.txt *.rst *.bib *.gif *.jpg
recursive-include examples *.py *.jpg *.npy *.npz
recursive-include tests *.zip *.md *.py *.txt
prune docs/_build
exclude docs/_version_save.py
