# requirement on rtd
h5py
ipython
matplotlib
numpy
# Don't forget to set the environment variable RPY2_CFFI_MODE=ABI on rtd!
rpy2
scipy
# Remove sphinx from requirements b/c it lead to issues
# on rtd and it's a dependency of the rtd theme anyway.
# sphinx>=1.6.4,<2
sphinxcontrib.bibtex>=2.0
sphinx_rtd_theme
tensorflow
